@inject IColorPickerViewModel ViewModel
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/colorpicker"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>ColorPicker</PageTitle>
<h1>ColorPicker</h1>
<input type="color" id="head" name="head" value="@ViewModel.InColor" @onchange="ViewModel.UpdateColor">
<label for="head">@ViewModel.InColor</label>

<AuthorizeView Context="auth">
    <Authorized>
        <button @onclick="() => ViewModel.SaveColor(auth.User)">Save Color</button>
        <label></label>
    </Authorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
       await ViewModel.SetCurrentUserColor(user);
        await base.OnInitializedAsync();
    }
}